.margin{
  padding-top: 5%;
  padding-left: 38%;
}
#content{
  width: 20em;
}

.header{
  padding-left: 11%;
}

.boton{
  width: 20em;
  padding-left: 14%;
}

.espaciado{
  width: 9px;
}

.salir{
  background-color: transparent;
  color: gray;
  border: transparent;
  widht: 2rem; 
}

.salir:hover{
	color: white;
}